body {
   

}

* {
    box-sizing: border-box;
}

.containers {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition-property:all;

}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
img:hover
{
    width:800px;

    transform:scale(1,1);

}

.container:hover .overlay {
    width:100%;

    opacity:1;
}